<div class="container m-top">
  <div class="center">
    <h2 class="sign-up-title">Création de compte</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <h3 class="label">Prénom</h3>
      <%= f.input :first_name, label: false, placeholder: "Anna"%>
      <h3 class="label">Nom</h3>
      <%= f.input :last_name, label: false, placeholder: "Decroix" %>
      <h3 class="label">Email</h3>
      <%= f.input :email,
                  label: false,
                  required: true,
                  placeholder: "JohnDoe@gmail.com",
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <h3 class="label">Mot de passe</h3>
      <%= f.input :password,
                  required: true,
                  label: false,
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <h3 class="label">Confirmation de mot de passe</h3>
      <%= f.input :password_confirmation,
                  label: false,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Créer mon compte" %>
    </div>
  <% end %>

</div>
