<div class="container">
  <div class="mini-navbar">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left-long arrow"></i>
    <% end %>
      <h1 class="bold blue"><%= @recipe.name.capitalize %> (pour <%= @ratio.number_of_people %>) </h1>
    <%= link_to  edit_recipe_path(@recipe) do %>
      <i class="fa-solid fa-pen pen"></i>
    <% end %>
  </div>

  <%= image_tag("crepe.jpg", class: "crepe-img") %>

  <h3 class="title">Ingrédients (<%= @recipe.recipe_ingredients.count %>)</h3>


  <div class="ingredients ratio-ingredients">
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <div class="ingredient ">
        <p class="bold"><%= ingredient.ingredient.name %></p>
        <div class="quantity">
          <p><%= ingredient.quantity * @ratio.number_of_people / @recipe.number_of_people%></p>
          <p><%= ingredient.unity %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
