<div class="container">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :number_of_people, label: "Pour combien de personne ?" %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, value: "Ajouter" %>
  <% end %>
</div>
