<div class="container">
  <h1 class="hello-title">Hello <%= @user.first_name %></h1>
  <p class="grey">What do you wanna cook today ? </p>

  <div class="infos-div">
    <%= image_tag("uber.png", class: "uber") %>
    <div>
      <p class="blue">You have <%= pluralize(Recipe.where(user: current_user).count, "recipe") %></p>
      <%= link_to "Add one?", new_recipe_path, class: "add-recipe-btn"  %>
    </div>
  </div>

  <h3 class="title title-recipes">Your best recipes</h3>

  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="recipe">
          <% if recipe.photo.attached? %>
            <%= cl_image_tag recipe.photo.key, class: "recipe-img" %>
          <% else %>
            <%= image_tag("crepe.jpg", class: "recipe-img") %>
          <% end %>
          <p class="recipe-name blue"><%= recipe.name.capitalize %></p>
          <p class="recipe-people"><%= recipe.number_of_people %> people</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="bot-nav">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house-chimney home"></i>
  <% end %>

  <%= link_to recipes_path do %>
    <i class="fa-solid fa-utensils recipe active"></i>
  <% end %>

  <%= link_to root_path do %>
    <i class="fa-solid fa-user user"></i>
  <% end %>
</div>
