<div class="container">
  <h1 class="hello-title">Hi <%= @user.first_name %></h1>
  <p class="grey">Que veux tu cuisiner aujourd'hui ? </p>

  <div class="infos-div">
    <%= image_tag("uber.png", class: "uber") %>
    <div>
      <p class="blue">Tu as <%= pluralize(Recipe.where(user: current_user).count, "recette") %></p>
      <%= link_to "Une de plus?", new_recipe_path, class: "add-recipe-btn"  %>
    </div>
  </div>

  <h3 class="title title-recipes">Vos meilleures recettes</h3>

  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="recipe">
          <% if recipe.photo.attached? %>
            <%= cl_image_tag recipe.photo.key, class: "recipe-img" %>
          <% else %>
            <%= image_tag("crepe.jpg", class: "recipe-img") %>
          <% end %>
          <p class="recipe-name blue"><%= recipe.name.capitalize %></p>
          <div class="recipe-infos">
            <p class="recipe-people"><%= pluralize(recipe.number_of_people, "personne") %></p>
            <p class="recipe-ingredients"><%= recipe.recipe_ingredients.count %> <i class="fa-solid fa-egg eggs"></i></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/bot-nav" %>
