<h1><%= @recipe.name %> pour <%= @recipe.number_of_people %> personnes</H1>

<h3>Ingrédients</h3>

<div class="ingredients">
  <% @recipe.recipe_ingredients.each do |ingredient| %>
    <div class="ingredient">
      <%= ingredient.ingredient.name %>
      <%= ingredient.quantity %>
      <%= ingredient.unity %>
    </div>
  <% end %>
</div>

<div class="new_ingredient">
  <h3>Ajouter un ingrédient</h3>
  <%= render "shared/add_ingredient_form", locales: [@recipe, RecipeIngredient.new] %>
</div>

<%= render "shared/add_ratio_form", locales: [@recipe, Ratio.new] %>

<% @recipe.ratios.each do |ratio| %>
  <h1><%= @recipe.name %> pour <%= ratio.number_of_people %> personnes</h1>
  <div class="ingredients">
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <div class="ingredient">
        <%= ingredient.ingredient.name %>
        <%= ingredient.quantity * ratio.number_of_people / @recipe.number_of_people %>
        <%= ingredient.unity %>
      </div>
    <% end %>
  </div>
<% end %>
