<div class="container">
  <div class="mini-navbar">
    <%= link_to "back", :back %>
    <h1 class="title"><%= @recipe.name.capitalize %> </h1>
    <%= link_to "...", edit_recipe_path(@recipe) %>
  </div>

  <h3 class="title">Ingrédients (<%= @recipe.recipe_ingredients.count %>)</h3>

  <div class="ingredients">
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <div class="ingredient">
        <p class="bold"><%= ingredient.ingredient.name %></p>
        <div class="quantity">
          <p><%= ingredient.quantity %></p>
          <p><%= ingredient.unity %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="new_ingredient">
    <h3>Ajouter un ingrédient</h3>
    <%= render "shared/add_ingredient_form", locales: [@recipe, RecipeIngredient.new] %>
  </div>


  <div class="new-ratio">
    <%= render "ratios/new", locales: [@recipe, Ratio.new] %>
  </div>
</div>
